.product {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
}

.product img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  color: #ffa41c;
  font-size: 1.4rem;
  display: flex;
}

.amazon-standard-button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a99734 #9c7e31 #846a29;
}
